<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.shop.dao.GoodsMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.shop.pojo.Goods" >
    <id column="good_id" property="goodId" jdbcType="INTEGER" />
    <result column="goodname" property="goodname" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="sort_id" property="sortId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.qfedu.shop.pojo.Goods" extends="BaseResultMap" >
    <result column="description" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    good_id, goodname, price, sort_id
  </sql>
  <sql id="Blob_Column_List" >
    description
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goods
    where good_id = #{goodId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods
    where good_id = #{goodId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.shop.pojo.Goods" >
    insert into goods (good_id, goodname, price, 
      sort_id, description)
    values (#{goodId,jdbcType=INTEGER}, #{goodname,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, 
      #{sortId,jdbcType=INTEGER}, #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.shop.pojo.Goods" >
    insert into goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodId != null" >
        good_id,
      </if>
      <if test="goodname != null" >
        goodname,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="sortId != null" >
        sort_id,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodId != null" >
        #{goodId,jdbcType=INTEGER},
      </if>
      <if test="goodname != null" >
        #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="sortId != null" >
        #{sortId,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.shop.pojo.Goods" >
    update goods
    <set >
      <if test="goodname != null" >
        goodname = #{goodname,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="sortId != null" >
        sort_id = #{sortId,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where good_id = #{goodId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.qfedu.shop.pojo.Goods" >
    update goods
    set goodname = #{goodname,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      sort_id = #{sortId,jdbcType=INTEGER},
      description = #{description,jdbcType=LONGVARCHAR}
    where good_id = #{goodId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.shop.pojo.Goods" >
    update goods
    set goodname = #{goodname,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      sort_id = #{sortId,jdbcType=INTEGER}
    where good_id = #{goodId,jdbcType=INTEGER}
  </update>
  <select id="findNewGoods" resultMap="BaseResultMap">
    select g.*,s.sortname as sortname from goods as g,`sort` as s
    where g.sort_id=s.sort_id ORDER BY good_id DESC
    limit 0,8
  </select>
</mapper>