<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.shop.dao.ShopGoodMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.shop.pojo.ShopGood" >
    <id column="sg_id" property="sgId" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
    <result column="good_id" property="goodId" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    sg_id, shop_id, good_id, count
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shop_good
    where sg_id = #{sgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shop_good
    where sg_id = #{sgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.shop.pojo.ShopGood" >
    insert into shop_good (sg_id, shop_id, good_id, 
      count)
    values (#{sgId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{goodId,jdbcType=INTEGER}, 
      #{count,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.shop.pojo.ShopGood" >
    insert into shop_good
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sgId != null" >
        sg_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="goodId != null" >
        good_id,
      </if>
      <if test="count != null" >
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sgId != null" >
        #{sgId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="goodId != null" >
        #{goodId,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.shop.pojo.ShopGood" >
    update shop_good
    <set >
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="goodId != null" >
        good_id = #{goodId,jdbcType=INTEGER},
      </if>
      <if test="count != null" >
        count = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where sg_id = #{sgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.shop.pojo.ShopGood" >
    update shop_good
    set shop_id = #{shopId,jdbcType=INTEGER},
      good_id = #{goodId,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER}
    where sg_id = #{sgId,jdbcType=INTEGER}
  </update>
</mapper>