<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qfedu.shop.dao.SortMapper" >
  <resultMap id="BaseResultMap" type="com.qfedu.shop.pojo.Sort" >
    <id column="sort_id" property="sortId" jdbcType="INTEGER" />
    <result column="sortname" property="sortname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sort_id, sortname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sort
    where sort_id = #{sortId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sort
    where sort_id = #{sortId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qfedu.shop.pojo.Sort" >
    insert into sort (sort_id, sortname)
    values (#{sortId,jdbcType=INTEGER}, #{sortname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qfedu.shop.pojo.Sort" >
    insert into sort
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sortId != null" >
        sort_id,
      </if>
      <if test="sortname != null" >
        sortname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sortId != null" >
        #{sortId,jdbcType=INTEGER},
      </if>
      <if test="sortname != null" >
        #{sortname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qfedu.shop.pojo.Sort" >
    update sort
    <set >
      <if test="sortname != null" >
        sortname = #{sortname,jdbcType=VARCHAR},
      </if>
    </set>
    where sort_id = #{sortId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qfedu.shop.pojo.Sort" >
    update sort
    set sortname = #{sortname,jdbcType=VARCHAR}
    where sort_id = #{sortId,jdbcType=INTEGER}
  </update>
  <select id="findAllSort" resultMap="BaseResultMap">
    select * from sort
  </select>
</mapper>